@charset "UTF-8";
/*Todas as demais midias*/


/*Typical devices Brakpointssimbolo naior menor
Celular peq: até 600
Celular:até 600px
Tablet: 768px
PC:1024px
TV: acima de 1536px


*/

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
        font-family: 'Courier New', 'Courier', 'monospace';
    }
    main{
        border: 1px solid black;
        
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main::after{
        content: 'Esse site foi feito por mim';
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}


@media screen and (width <= 768px) and (width >= 1023px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and  (min-width:1024px) and (max-width:1279px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width:1280px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{display:none ;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}

}

